.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  display: flex;
  align-items: center;
  padding: 1.5em 7em;
}

.navbar__titulo {
  margin-left: 0.5em;
  font-size: 18px;
  font-weight: 500;
  color: var(--cinza-medio);
}

.lista-menu {
  display: flex;
  align-items: center;
  padding: 1.5em 15em 1.5em 0;
}

.lista-menu__item {
  padding: 0 1em;
}

.lista-menu__link {
  text-decoration: none;
  font-weight: 500;
  color: var(--cinza-claro);
}

.login {
  display: flex;
  align-items: center;
  padding: 1.5em 7em;
}

.login__entrar {
  padding: 0 1em;
}

.login__entrar-link {
  text-decoration: none;
  font-weight: 500;
  color: var(--cinza-claro);
}

.login__cadastrar-link {
  padding: 1em 1.5em;
  background-color: var(--vermelho);
  border-radius: 8px;
  text-decoration: none;
  color: var(--branco);
}

.login__entrar-link, .login__cadastrar-link {
  margin: 0 .5em;
  text-decoration: none;
  font-weight: 500;
}